.body {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}
.container {
  border: none;
  margin: auto;
  text-align: center;
}
.container input {
  margin: 10px;
  border: 1px solid black;
  padding: 8px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 2px 3px 2px -5px black;
}
.container input:hover {
  border: 1px solid aqua;
}
.submit-button {
  color: red;
  background-color: aqua;
  border: none;
  padding: 10px;
  width: 50%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
  border-radius: 10px;
}
.users {
  text-align: center;
  color: black;
  text-transform: uppercase;
  border: 2px solid yellow;
  box-shadow: -10px 10px 10px -10px red;
}
.list-table {
  display: flex;
  justify-content: space-around;
  color: black;
  font-weight: 900;
  border-bottom: 1px solid black;
}
.users-list {
  border: 2px solid yellow;
  border-top: none;
  display: flex;
  justify-content: space-around;
}
.users-list p {
  color: black;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (min-width: 670px) {
  .container input {
    width: 20%;
    padding: 20px;
    text-align: start;
    font-size: 20px;
    box-shadow: 5px 5px -9px 9px black;
  }
  .submit-button {
    width: 20%;
  }
}
